@{
    ViewBag.Title = "Smart Energy Meter";
}

<div class="jumbotron">
    <h1>Smart Energy Meter</h1>
    <p class="lead">Smart Energy Meter</p>
    <p>Smart Energy Meter</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Smart Energy Meter</h2>
        <p>
            Smart Energy Meter
        </p>
        <p>Smart Energy Meter</p>
    </div>
    <div class="col-md-4">
        <h2>Smart Energy Meter</h2>
        <p>Smart Energy Meter</p>
    </div>
    <div class="col-md-4">
      <p>Smart Energy Meter</p>
    </div>
</div>