@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.Identity.Name == "admin ")
    {
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Manage Customer", "ManageCustomer", "AdminAccount")</li>
        <li>@Html.ActionLink("Tariff", "ConfigureTariif", "AdminAccount")</li>
        <li>@Html.ActionLink("Generate Bill", "GenerateBill", "AdminAccount")</li>

    </ul>
        }
    }
